{% extends "lieux_tournage/base.html" %}
{% block content %}

    <script src="https://polyfill.io/v3/polyfill.min.js?features=default"></script>
    <style type="text/css">
        /* Always set the map height explicitly to define the size of the div
         * element that contains the map. */
        #map {
            height: 500px;
            /* The height is 400 pixels */
            width: 70%;
            /* The width is the width of the web page */
        }
        #pano {
            height: 500px;
            /* The height is 400 pixels */
            width: 70%;
            /* The width is the width of the web page */
        }

        /* Optional: Makes the sample page fill the window. */
        html,
        body {
            height: 100%;
            margin: 0;
            padding: 0;
        }
    </style>
    <div class="col-md-3">

    </div>
    <div class="col-md-8">
        <script>
            // This example displays a marker at the center of Australia.
            // When the user clicks the marker, an info window opens.
            function initMap() {
                const uluru = { lat: 48.856614, lng: 2.3522219};
                const map = new google.maps.Map(document.getElementById("map"), {
                    zoom: 12,
                    center: uluru,
                });

                                //function appellée pour afficher la streetView à partir de coordonnées
            function streetView(myPointStreet){
                var panorama = new google.maps.StreetViewPanorama(
                    document.getElementById('streetView'), {
                        position: myPointStreet,
                        pov: {
                            heading: 34,
                            pitch: 10
                        }
                    });
                map.setStreetView(panorama);
            }

                {% for lieux in context %}
                    var adresse='{{ lieux.adresse }}';
                    var cp='{{ lieux.cp }}';
                    var lat='{{ lieux.lat }}';
                    var lng='{{ lieux.lng }}';
                    var myPpoint = new google.maps.LatLng(lat, lng);
                    var marker = new google.maps.Marker({
                        position: myPpoint,
                        map,
                        icon: "http://maps.google.com/mapfiles/ms/icons/red-dot.png",
                    });
                    var content = "Adresse: " + adresse +  '</h3> ' + cp
                    var infowindow = new google.maps.InfoWindow();
                    google.maps.event.addListener(marker,'click', (function(marker,content,infowindow,myPpoint1){
                        return function() {
                            infowindow.setContent(content);
                            infowindow.open(map, marker);
                            //appel de la fonction streetView + paramètre pointrecu (newPoint1)
                            streetView(myPpoint1);
                        }
                    })(marker,content,infowindow,myPpoint));
                {% endfor %}
                {% for c in apilieux %}
                    var adresse='{{c.fields.adresse_lieu}}';
                    var lat='{{c.fields.coord_y}}';
                    var lng='{{c.fields.coord_x}}';
                    var myPpoint = new google.maps.LatLng(lat, lng);
                    var marker = new google.maps.Marker({
                        position: myPpoint,
                        map,
                        icon: "http://maps.google.com/mapfiles/ms/icons/blue-dot.png"
                    });
                    var content = "Adresse: " + adresse +  '</h3> '
                    var infowindow = new google.maps.InfoWindow();
                    google.maps.event.addListener(marker,'click', (function(marker,content,infowindow,myPpoint1){
                        return function() {
                            infowindow.setContent(content);
                            infowindow.open(map, marker);
                            //appel de la fonction streetView + paramètre pointrecu(newPoint1)
                            streetView(myPpoint1);
                        }

                    })(marker,content,infowindow,myPpoint));
                {% endfor %}
                map.setStreetView(panorama);
            }
        </script>
        <div id="map"></div>
        <div id="streetView" class='col-sm-12 col-md-8' style="z-index: 1; width: 100%; height: 400px;"></div>

    </div>
    <!-- Async script executes immediately and must be after any DOM elements used in callback. -->
    <script
            src="https://maps.googleapis.com/maps/api/js?key=AIzaSyBTSHIKMPr00gLMqbJnQD0fcHkAduwV0R0&callback=initMap&libraries=&v=weekly"
            async
    ></script>

{% endblock %}

